body {
  margin: 5% 10%;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #99f;
  color: black;
}

h1 {
  text-align: center;
  font-size: 200%;
}

a {
  color: blue;
  text-decoration: none;
}

h1 a {
  color: black;
}

#icon {
  text-align: center;
  float: left;
  width: 25%;
}

#rightcolmn {
  width: 75%;
  float: right;
}

#footer {
  padding-top: 1em;
  width: 100%;
  clear: both;
  padding-left: 3em;
}

ul#MainMenu {
  list-style-type: none;
  padding: 0;
}

ul#MainMenu li:first-letter {
  font-size: 150%;
}

#allover {
  border: 1px solid black;
  border-radius: 1em;
  background-color: white;
  padding: 0.5em;
}