body {
  margin: 5% 10%;
  font-family: Meiryo;
}

h1 {
  text-align: center;
  font-size: 200%;
}

a { color: blue; }
a:hover { color: navy; }

h1 a {
  text-decoration: none;
  color: black;
  font-family: serif;
}

h1 a:hover {
  color: black;
}

#icon {
  text-align: center;
}

